.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-description{
  max-width: 1000px;
  padding: 20px;
  font-size: 24px;

}

.App-header {
  background-color: #a9d3e2;
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: rgb(19, 9, 83);
  min-height: 100vh
}

.login {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.listOfPets{
  margin-top: 2px;
}

.createAccount{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.createPet{
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.favorites{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.adminLandingPage{
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.checkbox-group label {
  display: block;
  margin-bottom: 10px;
}

.list-container{
  gap: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

body {
  background-color:  #a9d3e2;
  font-family: sans-serif;
  color:black;
  margin: 1px;
  padding: 1rem
}

h1,p {
  color: rgb(19, 9, 83);
  font-family: sans-serif;
  margin-bottom: 20px;
}

h2{
  color:rgb(19, 9, 83);
  font-family: sans-serif;
}

td,th {
  border:1px rgb(19, 9, 83);;
  padding: 0.5rem;
  color:rgb(8, 20, 100);
  background-color:rgb(138, 205, 177)
}

tr,td{
  border:#07022b 1px;
  padding: 0.5rem;
  color:rgb(8, 20, 100);
  background-color: rgb(193, 245, 224);
}

footer{
  align-items:flex-start;
}

fieldset{
  font-family: sans-serif;
  font-size: large;

}
legend{
  font-family: sans-serif;

}
input{
  font-family: sans-serif;


}
button{
  font-family: sans-serif;
  height: 50px;
  width: 200px;
  font-size:x-large;
  background-color: rgb(217, 236, 247);
  color: rgb(8, 20, 100);
  margin:10px;
  border: 2px solid rgb(19, 9, 83);
}

.logout-button {
  font-size: 14px;
  padding: 4px 8px;
  border: 1px solid rgb(19, 9, 83);
  background-color: rgb(19, 9, 83);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  margin: 2px;
  width: 100px;

}

.logout-button:hover {
  background-color: #002244;
}

.App-link {
  color: #61dafb;
}

.filter-box{
  border: 1px;
  padding: 20px;
  background-color: rgb(193, 245, 224);
  color: rgb(19, 9, 83);
}

.nav-container{
  display:flex;
  justify-content: center;
  margin: 20px 0;
}

.nav-link{
  margin: 0 20px;
  font-size: 24px;
  background-color: aliceblue;
  padding: 12px 20px;
  border-radius: 8px;

}

.link-spacing {
  margin-right: 20px;
  text-decoration: none;
  color: rgb(19, 9, 83);
}
.link-spacing:hover {
  text-decoration: underline;
}

.link-no-style {
  text-decoration: none;
  color: rgb(19, 9, 83);
}

.link-no-style:hover {
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
